/*body {
    background-image:url("im1.jpg");
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}*/

body {
    background-image: url("paper.gif");
    background-color: #cccccc;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

