body {
    background-image:url("/ui/images/bgimg1.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:auto;
    position: fixed;
    top: 0; 
    left: 0; 
 
     min-height: 100%;
     min-width: 1024px;
  
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align:center;
    font-family: Georgia, serif;
     font-style: italic;
    font-size: 11px;
    color: #F1EDC2;
    letter-spacing: .25px;
    
    text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.read-more {
  background-color: Crimson;
  border-radius: 5px;  
  color: white;
  display: block;
  margin: 1.5em 0;
  padding:0.5em;
  text-align: center;
  text-decoration: none;  
  font-family: Georgia, serif;
  font-style: italic;
  width: 6em;
}

.no-context {
  background-color: Crimson;
}



